.tableWrap{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.tableColumnList{
    color: #191919;
    letter-spacing: 0px;;
    display: table;
    text-indent: initial;
}
.tableColumnListHeader{
    padding: 16px 0 15px 0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    font-size: 18px;
    color: #191919;
}

.tableColumnListData {
    cursor: pointer;
}