@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR'; 
  font-size: large;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
