.contact__form {
  margin: 0 auto;
  padding: 20px;
  width: 400px;
  background: #ccc;
  text-align: center;
}

.input {
  padding: 5px 10px;
  width: 100%;
  border: 1px solid #666;
}
.textarea {
  padding: 5px 10px;
  width: 100%;
  min-height: 100px;
  outline: none;
  resize: none;
  ime-mode: auto;
}
.button {
  margin-top: 20px;
  padding: 5px 15px;
  background: #fff;
  border: 1px solid #666;
  outline: none;
  cursor: pointer;
}
