{
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "overrides": [ 
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ],
  "prettier/prettier": ["error", {"singleQuote": false,"parser": "@babel/eslint-parser"}]

}